:root {
    --brand-color-1: #000000;
    --brand-color-2: #FDDA25;
    --text-color-1: #000000;
    --text-color-2: #373737;
    --text-color-3: #A0A0A0;
    --indication-color-1: #2176ff;
    --indication-color-2: #00B796;
    --indication-color-1: #FF6A39;
}
