.tasks {
    &-container {
        max-width: 100vw;
        overflow: auto;
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        @media (min-width: 768px) {
            padding: 63px 30px;
            max-width: calc(100vw);
        }
        app-list-task {
            overflow-x: auto;
        }
    }
    &-list {
        max-width: 100%;
        overflow-x: auto;
    }
}